@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "HelveticNeue";
  src: url("fonts/HelveticaNeue.ttc") format("truetype");
}

body {
  font-family: "HelveticNeue";
}

#desktop {
  display: block;
}
#mobile {
  display: none;
}

@media (max-width: 390px) {
  #desktop {
    display: none;
  }
  #mobile {
    display: block;
  }

  .btn-mobile {
    margin-top: 6rem;
  }
}
