@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Helvetic Neue";
}

#desktop {
  display: block;
}
#mobile {
  display: none;
}

@media (max-width: 390px) {
  #desktop {
    display: none;
  }
  #mobile {
    display: block;
  }

  .btn-mobile {
    margin-top: 6rem;
  }
}
