@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Helvetic Neue";
}

#desktop {
  display: block;
}
#mobile {
  display: none;
}

@media (max-width: 390px) {
  #desktop {
    display: none;
  }
  #mobile {
    display: block;
  }

  .btn-mobile {
    margin-top: 6rem;
  }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
input[type="number"] {
  -moz-appearance: textfield;
}
